<h2>Users</h2>

<a class="btn btn-primary" href="#/users/new/{{groupLastname}}"><i class="icon-plus-sign"></i> Add a user</a>

<p>There is {{ users.length }} users.</p>

<proto-showresults></proto-showresults>

<table class="table table-striped table-bordered table-responsive">
    <thead>
    <tr title="click to order">
        <td ng-click="predicate = 'firstname'; reverse=!reverse">Firstname</td>
        <td ng-click="predicate = 'lastname'; reverse=!reverse">Lastname</td>
        <td>Edit</td>
    </tr>
    </thead>

    <tr ng-repeat="line in users | filter:filter | orderBy:predicate:reverse | limitTo:nbResults">
        <td>{{ line.firstname }}</td>
        <td>{{ line.lastname }}</td>
        <td><a href="#/users/{{ line.id }}"><i class="icon-pencil"></i></a></td>
    </tr>
</table>
